*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i {
    font-size: 15px;
    color: black;
}

h1 {
    font-size: medium;
    font-weight: 700;
    white-space: nowrap;
}

p {
    white-space: nowrap;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    box-shadow: 1px 1px 0 0 black;
}

.header_logo {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.header_logo .header_logo_bar_button button{
    border: none;
    background-color: inherit;
}

.header_logo .header_logo_logo_youtube {
    display: flex;
    width: 120px;
    height: 20px;
    margin-left: 20px;
}

.header_search {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_search .header_search_input {
    width: 575px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    border: 1px solid black;
    border-radius: 25px 0 0 25px;
}

.header_search .header_search_input input {
    width: 95%;
    height: 100%;
    outline: none;
    border: none;
    color: black;
}
#search_input::placeholder {
    color: black;
}
.header_search .search_button {
    width: 32px;
    height: 32px;
    border-left: none;
    border: 1px solid black;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

#icons  {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#icons:hover {
    background-color: rgb(96, 96, 96, 0.2);
    border-radius: 50% ;  
    cursor: pointer; 
}
.header_others {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
}

/*-----------main ----------------*/

.container {
    display: flex;
    width: 100%;  
    margin-top: 52px;
}

/*-------sidebar----*/

.sidebar {
    width: 17%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    position: fixed;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0,0, 0.4);
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}
.sidebar_logo {
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.sidebar_logo .sidebar_logo_bar_button button{
    border: none;
    background-color: inherit;
}

.sidebar_logo .sidebar_logo_logo_youtube {
    display: flex;
    width: 120px;
    height: 20px;
    margin-left: 20px;
}

.sidebar ul {
    width: 90%;  
}

.sidebar ul:first-child {
    margin-top: 590px;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.sidebar .side {
    width: 79%;
    display: flex;
    padding: 10px 0;
    
}

.sidebar .side i {
    width: 20px;
    height: 20px;
}

.sidebar .side p {
    margin-left: 30px ;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul li:hover{
    background-color: rgb(0, 0,0, 0.2);
}

.sidebar ul li:hover .side i {
    color: red;
}

.sidebar .hr {
    width: 85%;
    height: 1px;
    border-top: 1px solid black;
    margin: 10px 0;
   
}

.sidebar ul li .more {
    width: 79%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    
}

.sidebar ul li .more a {
    padding-left: 10pxx;
}
.sidebar ul .noHover:hover{
    background-color: transparent;
}

span {
    font-size: smaller;
    white-space: nowrap;
    margin-left: 20px;
    
}

.hr:last-child {
    margin-bottom: 50px;
}


/*----content-----*/
.content {
    flex: 5;
}
