*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



i {
    font-size: 15px;
    color: black;
}

a {
    text-decoration: none;
}



h1 {
    font-size: medium;
    font-weight: 700;
    white-space: nowrap;
}



p {
    white-space: nowrap;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}



header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    box-shadow: 1px 1px 0 0 black;
    background-color: aliceblue;
    z-index: 1000;
}

.header_logo {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.header_logo .header_logo_bar_button button{
    border: none;
    background-color: inherit;
}

.header_logo .header_logo_logo_youtube {
    display: flex;
    width: 120px;
    height: 20px;
    margin-left: 20px;
}

.header_search {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_search .header_search_input {
    width: 575px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    border: 1px solid black;
    border-radius: 25px 0 0 25px;
}

.header_search .header_search_input input {
    width: 95%;
    height: 100%;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
}
#search_input::placeholder {
    color: black;
}
.header_search .search_button {
    width: 32px;
    height: 32px;
    border-left: none;
    border: 1px solid black;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

#icons  {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#icons:hover {
    background-color: rgb(96, 96, 96, 0.2);
    border-radius: 50% ;  
    cursor: pointer; 
}
.header_others {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
}


/*-----------main ----------------*/

.container {
    display: flex;
    width: 100%;  
    height: 4000px;
    margin-top: 52px;
    
}

/*-------sidebar----*/

.sidebar {
    
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    border-right: 1px solid #ccc;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0,0, 0.4);
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}
.sidebar_logo {
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.sidebar_logo .sidebar_logo_bar_button button{
    border: none;
    background-color: inherit;
}

.sidebar_logo .sidebar_logo_logo_youtube {
    display: flex;
    width: 120px;
    height: 20px;
    margin-left: 20px;
}

.sidebar ul {
    width: 90%;  
}

.sidebar ul:first-child {
    margin-top: 600px;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.sidebar .side {
    width: 79%;
    display: flex;
    padding: 10px 0;
    
}

.sidebar .side i {
    width: 20px;
    height: 20px;
}

.sidebar .side p {
    margin-left: 30px ;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul li:hover{
    background-color: rgb(0, 0,0, 0.2);
}

.sidebar ul li:hover .side i {
    color: red;
}

.sidebar .hr {
    width: 85%;
    height: 1px;
    border-top: 1px solid black;
    margin: 10px 0;
   
}

.sidebar ul li .more {
    width: 79%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    
}

.sidebar ul li .more a {
    padding-left: 10pxx;
}
.sidebar ul .noHover:hover{
    background-color: transparent;
}

 #note {
    font-size: smaller;
    white-space: nowrap;
    margin-left: 20px;
    
}

.hr:last-child {
    margin-bottom: 50px;
}


/*----content_category-----*/
.content {
    margin-left: 17%;
    width: 100%;
    
}

.content_category {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    background-color: #dddddd;
    position: fixed;
    z-index: 1000;
}

.content_category button {
    margin-right: 10px ;
    outline: none;
    border: #ccc solid 1px;
    border-radius: 8px;
    
    padding: 6px 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: 500;
}

.content_category button:hover {
    background-color: rgb(0, 0,0, 0.4);
}

.choose {
    background-color: black;
    color: white;
}

/*----------------------content_video--------------*/

.content_video {
    width: 100%;
    padding: 10px 10px 0 20px;
    margin-top: 49px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(237, 237, 237);
}

.content_video .content_video_box {
    width: 23.5%;
    height: 250px;
    background-color:transparent;
    margin: 15px 7px 20px 7px;
}

.content_video_box .video {
    width: 100%;
    height: 63%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow:hidden;
}

.content_video_box .video img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content_video_box .video_title {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.video_title .title_left {
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}
.video_title .title_right {
    flex: 4;
    width: 100%;
    height: 100%;
    position: relative;
}

.video_title .title_user {
    width: 35px;
    height: 35px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 4%;
    margin-bottom: 10%;
}

.video_title .title_user img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video_title .title_introduce {
   margin: 5px 10px;
}

.title_introduce .intro {
    height: 70%;
    width: 100%;
}

span#video_youtube_text {
    font-size: 0.9rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    color: black;
}

.title_introduce .public {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
}
span#video_youtube_public{
    font-size: 0.7rem;
    font-weight: 500;

}

.title_introduce .public .dot_after::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #343434;
    border-radius: 50%;
    bottom: 0;
    transform: translateY(-80%);
    margin-left: 5px;
}

span.space_left_15px{
    margin-left: 15px;
}
.title_introduce .public .name_user {
    position: absolute;
    top: -7px;
}

span#name_user {
    font-size: 0.7rem;
    font-weight: 500;
    color: #070707;
}

span#name_user:hover {
    color: #d75a5a;
}



/*-------------------shorts_video----------------*/

.short_video_box {
    width: 100%;
    background-color: #ccc;
    position: relative;
}

.short_video_box .short_video_header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

/* CSS cho div với class "short_youtube" */

/* CSS cho icon trong phần tử i với class "fa-square-youtube" */
.fa-square-youtube {
    color: red; /* Màu sắc của icon */
    font-size: 20px; /* Kích thước của icon */
    margin: 0 10px;
}

.short_video_header .short_text {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.fa-x {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.fa-x:hover {
    color: red;
}


.short_video_box .short_video_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.short_video_footer .line_through {
    width: 100%;
    height: 0.5px;
    background-color: black;
    position: absolute;
    bottom: 25px;
    z-index: 1;
}

.short_video_footer button {
    z-index: 5;
    position: absolute;
    bottom:  8px;
    padding: 7px 100px;
    border: #dddddd solid 1px;
    border-radius: 25px;
    background-color: #dddddd;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.short_video_footer button:hover {
    background-color: aliceblue;
}

.fa-chevron-down {
    margin-left: 10px;
}


/*-----------short_video_main----------*/
.short_video_main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.short_video_main .short_video {
    width: 16.6%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

.short_video .short_video_img {
    width: 100%;
    padding: 0 5px;
    height: 70%;
    border-radius: 10px;
}
.short_video img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.short_video .short_video_title {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.public {
    font-size: 0.5rem;
    font-weight:500;
}
#short_video_title {
    width: calc(100% - 20px);
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
}

